.aling1 {
    padding: 5px 5px 5px 25px;
}

.headercards {
    height: 66px;
    text-align: center;
    padding-top: 20px;

}


.box {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;

}

.boxhead {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 20px;
    padding-right: 10px;
}


.tamanioLetra {
    font-size: 12px;
    font-weight: bold;
}


div{
    font-size: 12px;
}


.boxdescargas {
   
    display: flex;
    align-items: stretch;
  }

  .info{
    font-size: 18px;
  }


  .contenerdoTexto{
    word-wrap: break-word;
  }


  .tabmenu{
    width: 160px;

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  




.btntextzise{
  font-size: 12px;
}

.boxIcon {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-left: 20px;
  padding-right: 10px;
}

#global {
	height: 450px;
	width: 100%;
	border: 1px solid #ddd;
	background: #f1f1f1;
	overflow-y: scroll;
}