<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card  card-nav-padding">
            <div class="card-header-nav bg-primary">


                <div class="card-tools" style="padding: 5px 5px 5px 25px;">
                    4.- ESTUDIANTES CON NECESIDADES EDUCATIVAS ESPECIFICAS <i class="fa-solid fa-info"></i>
                </div>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-4 " style="padding: 1px;">
                        <div class="border">
                           <p style="font-weight: bold;">Estudiante NEE:</p> 
                        </div>
                    
                    </div>
                   
                    
                    <div class="col-sm-4 " style="padding: 1px;">
                        <div class="border">
                           <p style="font-weight: bold;">Estudiante NEE:</p> 
                        </div>
                    
                    </div>

                    <div class="col-sm-4 " style="padding: 1px;">
                        <div class="border">
                           <p style="font-weight: bold;">Estudiante NEE:</p> 
                        </div>
                    
                    </div>
                  </div>












            </div>
            <!-- /.card-body -->
            <div class="card-footer">

            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->