<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">


        <div class="card  ">

            <div class="card-body">
                <section style="padding-left: 10px;">
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                        data-target="#exampleModalTransport" (click)="openmodal()"> <i class="fa-solid fa-plus"></i>Añadir
                        nuevo</button>
                </section>
            </div>
        </div>

        <!-- Default box -->
        <div class="card  ">

            <div class="card-body">
                <div class="box " style="padding-top: 10px;">
                    <div class="col-sm ">

                        <div for="" class="form-control bg-primary" style="height: 50px;padding-top: 10px;"> <label
                                for="" style="padding-right: 25px;">4. ESTUDIANTES CON NECESIDADES EDUCATIVAS
                                ESPECÍFICAS </label> <i class="fa fa-info-circle info" aria-hidden="true"></i> </div>
                    </div>


                    <div style="width: 50px;">

                    </div>
                </div>




                <div class="form-group"></div>


                <div *ngFor="let item of dataEstudiante;let indice=index">

                    <div class="box " style="padding-top: 5px;">
                        <div class="col-sm ">

                            <div for="" class="form-control "><label for="">Estudiante NEE:</label>
                                {{item.nombreestudiante}}</div>
                        </div>

                        <div class="col-sm ">
                            <div for="" class="form-control "> <label for="">Grado de adaptación:</label>
                                {{item.gradoadaptacioncurricular1}}
                            </div>

                        </div>

                        <div class="col-sm ">
                            <div for="" class="form-control "> <label class="">NEE: </label>
                                {{item.gradoadaptacioncurricular1}}</div>
                        </div>

                        <div style="width: 50px;"> </div>
                    </div>

                    <div class="box" style="padding-top: 5px;">
                        <div class="col-sm ">


                            <!--------------------------------------------------------------->
                            <!----------------------ENTRADA DESTREZAS----------------------------------------->
                            <!--------------------------------------------------------------->

                            <div>
                                <div style="padding-bottom: 5px;">
                                    <div class="border headercards  " style="background-color: #2629f436;">


                                        <div class="boxhead">
                                            <div style="width: 85%;">
                                                <label for="" class="tamanioLetra contenerdoTexto">{{destrezas}}</label>
                                            </div>

                                            <div>

                                                <i class="fa fa-info-circle info" aria-hidden="true"></i>
                                            </div>
                                        </div>

                                    </div>
                                </div>



                                <div class="border" style="padding-top: 10px;">

                                    <section style="height: 110px;padding: 11px;" class="content">
                                        <div class="card-text contenerdoTexto">
                                            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos
                                            de texto. Lorem Ipsum ha sido el texto de relleno0
                                        </div>
                                    </section>


                                    <section style="height: 75px;padding: 11px;" class="content">
                                        <div class="d-flex justify-content-start">
                                            <div style="padding: 2px;">
                                                <button type="button" class="btn btn-outline-secondary btn-sm"><i
                                                        class="fa fa-id-badge" aria-hidden="true"></i></button>
                                            </div>

                                            <div style="padding: 2px;">
                                                <button type="button" class="btn btn-outline-secondary btn-sm">
                                                    <i class="fa fa-laptop" aria-hidden="true"></i>
                                                </button>
                                            </div>


                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>


                        <!------------------------------------------->
                        <!--------------ENTRADA INDICADORES----------------->
                        <!----------------------------------------->

                        <div class="col-sm ">
                            <div>
                                <div style="padding-bottom: 5px;">
                                    <div class="border headercards  " style="background-color: #2629f436;">

                                        <div class="boxhead">
                                            <div style="width: 70%;">
                                                <label for=""
                                                    class="tamanioLetra contenerdoTexto">{{indicadores}}</label>
                                            </div>

                                            <div>

                                                <i class="fa fa-info-circle info" aria-hidden="true"></i>
                                            </div>


                                        </div>

                                    </div>
                                </div>



                                <div class="border" style="padding-top: 10px;">
                                    <section style="height: 110px;padding: 11px;" class="content">
                                        <p class="card-text contenerdoTexto">
                                            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos
                                            de texto. Lorem Ipsum ha sido el texto de relleno0

                                        </p>
                                    </section>


                                    <section style="height: 80px;padding: 11px;" class="content">
                                        <div class="d-flex justify-content-start">
                                            <div style="padding: 2px;">
                                                <button type="button" class="btn btn-outline-secondary btn-sm"><i
                                                        class="fa fa-id-badge" aria-hidden="true"></i></button>
                                            </div>

                                            <div style="padding: 2px;">
                                                <button type="button" class="btn btn-outline-secondary btn-sm">
                                                    <i class="fa fa-laptop" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <div style="padding: 2px;">
                                                <button type="button" class="btn btn-outline-secondary btn-sm">
                                                    <i class="fa fa-laptop" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <div style="padding: 2px;">
                                                <button type="button" class="btn btn-outline-secondary btn-sm">
                                                    <i class="fa fa-laptop" aria-hidden="true"></i>
                                                </button>
                                            </div>


                                        </div>
                                    </section>

                                </div>


                            </div>
                        </div>



                        <!------------------------------------------->
                        <!--------------ENTRADA ESTRATEGIAS----------------->
                        <!----------------------------------------->


                        <div class="col-sm ">

                            <div>
                                <div style="padding-bottom: 5px;">
                                    <div class="border headercards  " style="background-color: #2629f436;">

                                        <div class="boxhead">
                                            <div style="width: 91%;">
                                                <label for=""
                                                    class="tamanioLetra contenerdoTexto">{{estrategias}}</label>
                                            </div>

                                            <div>

                                                <i class="fa fa-info-circle info" aria-hidden="true"></i>
                                            </div>

                                        </div>
                                    </div>
                                </div>



                                <div class="border" style="padding-top: 10px;">

                                    <section style="height: 110px;padding: 11px;" class="content">
                                        <p class="card-text contenerdoTexto">
                                            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos
                                            de texto. Lorem Ipsum ha sido el texto de relleno0

                                        </p>
                                    </section>
                                    <section style="height: 80px;padding: 11px;" class="content">

                                    </section>

                                </div>

                            </div>
                        </div>


                        <!------------------------------------------->
                        <!--------------ENTRADA ACTIVIDADES----------------->
                        <!----------------------------------------->

                        <div class="col-sm ">

                            <div>
                                <div style="padding-bottom: 5px;">
                                    <div class="border headercards  " style="background-color: #2629f436;">
                                        <div class="boxhead">
                                            <div style="width: 70%;">
                                                <label for=""
                                                    class="tamanioLetra contenerdoTexto">{{actividades}}</label>
                                            </div>

                                            <div>
                                                <i class="fa fa-info-circle info" aria-hidden="true"></i>
                                            </div>


                                        </div>
                                    </div>
                                </div>



                                <div class="border" style="padding-top: 10px;">

                                    <section style="height: 110px;padding: 11px;" class="content">
                                        <p class="card-text contenerdoTexto">
                                            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos
                                            de texto. Lorem Ipsum ha sido el texto de relleno0

                                        </p>
                                    </section>


                                    <section style="height: 80px;padding: 11px;" class="content">

                                        <section style="padding: 2px;">
                                            <div class="boxdescargas" style="background-color: rgba(0, 0, 0, 0.082);">
                                                <div style="width: 20px;text-align: center;" class="bg-primary"><i
                                                        class="fa-regular fa-file"></i></div>
                                                <div style="width: 100%;padding-left: 15px;">Archivo adjun...</div>
                                                <div style="width: 20px;text-align: right" class="border"><i
                                                        class="fa-solid fa-download"></i></div>

                                            </div>
                                        </section>
                                        <section style="padding: 2px;">

                                            <div class="boxdescargas" style="background-color: rgba(0, 0, 0, 0.082);">
                                                <div style="width: 20px;text-align: center;" class="bg-primary"><i
                                                        class="fa-regular fa-file"></i></div>
                                                <div style="width: 100%;padding-left: 15px;">Archivo adjun...</div>
                                                <div style="width: 20px;text-align: right" class="border"><i
                                                        class="fa-solid fa-download"></i></div>

                                            </div>
                                        </section>
                                    </section>
                                </div>

                            </div>
                        </div>



                        <!------------------------------->
                        <!--------------ENTRADA BOTONES----------------->
                        <!------------------------------->

                        <div style="width: 50px;padding-top: 110px;">
                            <div>
                                <button class=""><i class="fa-regular fa-pen-to-square"></i></button>
                            </div>
                            <br>
                            <div>
                                <button class=" "><i class="fa-solid fa-trash"></i></button>
                            </div>
                        </div>

                    </div>
                </div>





            </div>
            <!-- /.card-body -->

            <div class="card-body">
                <section style="padding-left: 10px;">
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                        data-target="#exampleModalTransporte"> <i class="fa-solid fa-plus"></i>Añadir
                        nuevo</button>
                </section>

            </div>

            <!-- /.card-footer-->
        </div>
        <!-- /.card -->




    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->






<!--***********************Modal transporte***************-->
<!--****************************************************-->
<!--****************************************************-->
<div class="modal fade" id="exampleModalTransporte" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title" id="exampleModalLabel">Estudiates con necesidades educativas específicas (NEE)
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">

              




                <div class="modal-footer">

                    <button type="button" class="btn btn-primary btntextzise">Guardar</button>
                    <button type="button" class="btn btn-secondary btntextzise" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>