<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex ">
        <div class="image ">
            <img src="../../assets/img/user2-160x160.jpg" class="img-circle elevation-2 " alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">BAYARDO CHANDI</a>
        </div>
    </div>



    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">




            <li class="nav-item">
                <a [routerLink]="['estudiantes-necesidades']" class="nav-link">
                    <i class=" nav-icon fas fa-home"></i>
                    <p>
                        Estudiantes necesidades
                       
                    </p>
                </a>
            </li>



            <li class="nav-item">
                <a [routerLink]="['estudiantes']" class="nav-link">
                    <i class=" nav-icon fas fa-home"></i>
                    <p>
                        Estudiantes necesidades
                       
                    </p>
                </a>
            </li>





        









        




          
            






            <li class="nav-item">
                <a class="nav-link" (click)="logot()">
                    <i class="nav-icon fas fa-sign-out-alt"></i>
                    <p>
                        Salir
                       
                    </p>
                </a>
            </li>






        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>